<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>IMS</display-name>
  <welcome-file-list>
    <welcome-file>home.html</welcome-file>
  </welcome-file-list>
  
  <servlet>
    <servlet-name>loginServlet</servlet-name>
    <servlet-class>com.ims.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Category</servlet-name>
    <servlet-class>com.ims.CategoryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Category</servlet-name>
    <url-pattern>/category</url-pattern>
  </servlet-mapping>
  
  
  <!-- JSP MAPPING -->
  
  <servlet>
    <servlet-name>CategoryEdit</servlet-name>
    <jsp-file>/jsp/category/EditCategory.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>CategoryEdit</servlet-name>
    <url-pattern>/categoryEdit.jsp</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>CategoryAdd</servlet-name>
    <jsp-file>/jsp/category/AddProductCategory.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>CategoryAdd</servlet-name>
    <url-pattern>/categoryAdd.jsp</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>CategoryList</servlet-name>
    <jsp-file>/jsp/category/ListCategory.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>CategoryList</servlet-name>
    <url-pattern>/categoryList.jsp</url-pattern>
  </servlet-mapping>
  
  
</web-app>